<form action="/payment/results">
<div>
  <label for="apr">APR</label>
  <input id="apr" type="text" name="apr" placeholder="E.g. 5.42">
</div>
<div>
  <label for="years">Number of years </label>
  <input id="years" type="text" name="years" placeholder="How many years to repay?">
</div>
<div>
  <label for="ppal">Principal </label>
  <input id="ppal" type="text" name="ppal" placeholder="How much principal?">
</div>
  <button>Calculate monthly payment</button>
</form>
