<form action="/random/results">
<div>
  <label for="users_n1">Minimum </label>
  <input id="users_n1" type="text" name="users_n1" placeholder="E.g. 1.5">
</div>
<div>  
  <label for="users_n2">Maximum </label>
  <input id="users_n2" type="text" name="users_n2" placeholder="E.g. 4.5">
</div>
  <button>Pick random number</button>
</form>
