<h1>Random Results</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @users_n1 %>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= @users_n2 %>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%= @result %>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
